/* declare iconfont */
@font-face {
  font-family: "IcoFont";
  font-weight: normal;
  font-style: "Regular";
  src: url("../fonts/icofont.woff2") format("woff2"),
    url("../fonts/icofont.woff") format("woff");
}

/* main area */
.mainarea {
  width: 1500px;
  margin: auto;
}

.left-float {
  float: left;
}
.right-float {
  float: right;
}
.style_orange {
  color: chocolate;
}

/* shortcut navigation section */
.shortcut {
  height: 40px;
  line-height: 40px;
  background-color: #eeeeee;
}
.shortcut li {
  float: left;
}
/* create | separators in the navigation */
.shortcut .right-float ul li:nth-child(2n) {
  width: 1px;
  height: 17px;
  background-color: #666;
  margin: 12px 18px 0;
}
.options::after {
  content: "\eab2";
  font-family: "IcoFont";
  margin-left: 4px;
}

/* header section */
.header {
  position: relative;
  height: 120px;
}
.logo {
  position: absolute;
  top: 50%;
  margin-top: -50.5px;
  width: 229px;
  height: 101px;
}
.logo a {
  display: block;
  width: 229px;
  height: 101px;
  background: url("../images/logo.png") no-repeat;
  font-size: 0;
}
.search {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -270px;
  margin-top: -30px;
  width: 560px;
  height: 60px;
  border: 2px solid #00adb5;
}
.search .searchbar {
  float: left;
  padding-right: 10px;
  width: 85%;
  height: 100%;
  text-indent: 0.5rem;
}
.search button {
  float: left;
  height: 100%;
  width: 15%;
  background-color: #00adb5;
  font-size: 16px;
  color: #eeeeee;
}
