/* declare iconfont */
@font-face {
  font-family: "IcoFont";
  font-weight: normal;
  font-style: "Regular";
  src: url("../fonts/icofont.woff2") format("woff2"),
    url("../fonts/icofont.woff") format("woff");
}

/* main area */
.mainarea {
  width: 1500px;
  margin: auto;
}

.left-float {
  float: left;
}
.right-float {
  float: right;
}
.style_orange {
  color: chocolate;
}

/* shortcut navigation section */
.shortcut {
  height: 40px;
  line-height: 40px;
  background-color: #eeeeee;
}
.shortcut li {
  float: left;
}
/* create | separators in the navigation */
.shortcut .right-float ul li:nth-child(2n) {
  width: 1px;
  height: 17px;
  background-color: #666;
  margin: 12px 18px 0;
}
.options::after {
  content: "\eab2";
  font-family: "IcoFont";
  margin-left: 4px;
}

/* header section */
.header {
  position: relative;
  height: 120px;
}
.logo {
  position: absolute;
  top: 50%;
  margin-top: -50.5px;
  width: 229px;
  height: 101px;
}
.logo a {
  display: block;
  width: 229px;
  height: 101px;
  background: url("../images/logo.png") no-repeat;
  font-size: 0;
}
.search {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -270px;
  margin-top: -30px;
  width: 560px;
  height: 60px;
  border: 2px solid #00adb5;
}
.search .searchbar {
  float: left;
  padding-right: 10px;
  width: 85%;
  height: 100%;
  text-indent: 0.5rem;
}
.search button {
  float: left;
  height: 100%;
  width: 15%;
  background-color: #00adb5;
  font-size: 16px;
  color: #eeeeee;
}
.frequent {
  position: absolute;
  top: 78%;
  left: 50%;
  margin-left: -270px;
}
.frequent a {
  margin: 0 8px;
  color: #eeeeee;
}
.frequent a:hover {
  color: #e9b9d1;
}
.shop-cart {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -28px;
  width: 150px;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  text-align: center;
  color: #eeeeee;
  border: 1px solid #eeeeee;
  background-color: #393e46;
}
.shop-cart::before {
  content: "\ec48";
  font-family: "IcoFont";
  margin-left: 2px;
  color: #dea01e;
  font-size: 17px;
}
.shop-cart::after {
  content: "\eab8";
  font-family: "IcoFont";
  font-size: 16px;
}
.shop-items {
  position: absolute;
  top: 5px;
  left: 122px;
  height: 16px;
  line-height: 16px;
  background-color: #dea01e;
  padding: 0 5px;
  border-radius: 8px 8px 8px 0;
}
